name: Fetch API and Commit

on:
  workflow_dispatch: 
  schedule:
    - cron: '0 12 * * *' 

 
permissions:
  contents: write

jobs:
  update-json:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout  
        uses: actions/checkout@v4

      - name: Fetch
        run: curl -s "https://catfact.ninja/fact" -o data.json

      - name: Push
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          
          git add data.json
           
          if git diff --staged --quiet; then
            echo "No hay cambios detectados."
          else
            git commit -m "New Data"
            git push
          fi
